body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}


body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 6px;
    border: 2px solid #000;
}

body::-webkit-scrollbar-track {
    background-color: #000;
}

/* Estilo da logo-container */
.logo-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    max-width: 100%; /* Logo se adapta ao container */
    width: 250px; /* Define um tamanho inicial */
    height: auto;
}


/* Contêiner externo para centralizar o login */
.container-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Mantém o fundo preto */
    padding-bottom: 180px; /* Adiciona espaço na parte inferior do login */
}

/* Estilo do login-container permanece igual */
.login-container {
    background: white;
    color: #000000;
    border-radius: 20px;
    padding: 30px;
    width: 90%; /* Responsivo para telas menores */
    max-width: 400px; /* Define um limite máximo para telas grandes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.login-container h1 {
    font-size: 18px;
    display: flex;
    align-items: center; /* Alinha a logo e o texto verticalmente */
    gap: 5px; /* Reduz o espaço entre a logo e o texto */
    margin-bottom: 5px; /* Reduz a margem inferior para aproximar o h1 do restante */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-container h1 img.logo {
    width: 130px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    margin-top: -5px; /* Subir a logo um pouco */
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-tag {
    font-size: 12px;
    margin-top: 15px;
    color: #555; /* Texto levemente mais claro */
    line-height: 1.5;
}

input[type="text"], input[type="password"] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

button {
    width: 100%; /* Botão ocupará toda a largura disponível */
    padding: 15px;
    border: none;
    background: #000000;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00ff22;
    color: #000;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.eye-icon {
    position: absolute;
    right: 20px;
    top: 60%; /* Ajuste a posição para ficar no meio do campo de senha */
    cursor: pointer;
}

.eye {
    width: 20px;
    height: auto;
}

/* Estilo adicional para o campo de senha */
input[type="password"] {
    position: relative;
}

